{% extends "email.html.twig" %}

{% block body %}
<h1>New episode {{ episode.title }} created</h1>
<p>Hello, the new episode {{ episode.title }} has been created on Wild Series</p>
<p>Synopsis : {{episode.synopsis }}</p>
<p>Season : {{episode.season.number }} Episode {{episode.number}}</p>
{% endblock body %}