{% extends 'base.html.twig' %}

{% block title %} {{episode.season.program.title}} Saison {{episode.season.number}} Episode {{episode.number}}
{% endblock title %}

{% block body %}
<div class="text-center">
    <h1>Série : {{episode.season.program.title}} </h1>
    <p>Saison : {{episode.season.number}}</p>
    <p>Episode : {{episode.number}} - {{episode.title}}</p>
    <p>Synopsis : {{episode.synopsis}} </p>
</div>
{% endblock body %}