{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>{{ website }} index</h1>
<a href="{{ path('program_show', {id: 1}) }}">Afficher la page 1</a>
<a href="{{ path('program_show', {id: 2}) }}">Afficher la page 2</a>
<a href="{{ path('program_show', {id: 3}) }}">Afficher la page 3</a>
<a href="{{ path('program_show', {id: 4}) }}">Afficher la page 4</a>
{% endblock %}