{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
<h1>>Toutes les séries de la table program : </h1>
{% for program in programs %}
<div>
    <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
    <p>{{ program.synopsis }}</p>
    <button class="btn btn-primary">
        <a class="text-secondary" href="{{ path('program_show', { id: program.id }) }}">Voir la fiche</a>
    </button>
</div>
{% else %}
Aucune série trouvée.
{% endfor %}
<button class="btn btn-secondary">
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
</button>
{% endblock %}